.box {
  width: 500px;
  height: 10px;
  background: linear-gradient(#0ff, #0ff);
  background-repeat: no-repeat;
  background-size: 0;
  animation: move 2s linear;
  animation-iteration-count: 2;
}
@keyframes move {
  100% {
    background-size: 100%;
  }
}
